* {
 margin: 0;
 padding: 0;
}

body {
 background: rgb(43, 43, 104);
}

.container {
 width: 100vw;
 height: 50px;
 background: rgb(68, 70, 196);

}

.box {
 display: inline-block;
 vertical-align: middle;
}

.btn {
 width: 700px;
 height: 250px;
 border: none;
}

button {
 background: rgb(68, 70, 196);
 padding: 5px;
 margin: 10px;
 border: none;
 color: rgb(132, 132, 235);
}
