* {
 margin: 0;
 padding: 0;
}

body {

 background-image: linear-gradient(to left bottom, #8b8ffd, #7c83f3, #6c77e8, #5c6bde, #4a5fd4, #3f56cf, #334cc9, #2543c4, #2139c2, #202ebf, #2020bb, #230db7);
 width: 100px;
 height: 700px;
}



.btn {
 width: 700px;
 height: 250px;
 border: none;
}

button {
 background: none;
 padding: 5px;
 margin: 10px;
 border: none;
 color: rgb(132, 132, 235);
 cursor: pointer;
}
